body {
    background-color: aliceblue;
    background-image: url(https://pbs.twimg.com/media/FNnDw8CaMAQ8Yx0?format=jpg&name=4096x4096);
    background-position:;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 1em;
    color: white;
    border-radius: 0.5rem;
}

body {

}

h1{
    font-size:100%;
}

h2 {
    font-size: 60%;
    letter-spacing: 0.2em;
}